/* Style.css */

/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  background-color: #ffffff;
  color: #333333;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.login-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.login-box h2 {
  color: #2980b9;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.login-box button {
  background-color: #2980b9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box button:hover {
  background-color: #2c3e50;
}

.error {
  color: #e74c3c;
  margin-top: 10px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 40%;
  padding: 10px;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.category {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 20px;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 10px;
  color: #2980b9;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  flex: 0 0 calc(25% - 10px);
  padding: 15px;
  border: 2px solid #2980b9; /* 添加边框颜色 */
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  color: #333333;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
  font-weight: bold; /* 加粗字体 */
}

.button:hover {
  border-color: #2c3e50; /* 更改边框颜色 */
  background-color: #2980b9;
  color: white;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

/* 响应式设计 */
@media (max-width: 768px) {
  .button-group .button {
    flex: 0 0 calc(25% - 10px);
  }
}

@media (max-width: 576px) {
  .button-group .button {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .button-group .button {
    flex: 0 0 calc(100% - 10px);
  }
}